body
{
    background-color: #fff;
    font-family: Verdana;
}
#header
{
    width: 99.4vw;
    height: auto;
    text-align: center;
    font-family: Verdana; 
}
h1, h2, h3, h4, h5
{
    color: #000;
    font-family: Verdana;
}
#dropzone /*Stijl voor het gebied waar je het bestand in sleept*/
{
    width: 50vw;
    height: auto;
    border: 2px solid #0084C9;
    text-align: center;
    padding: 30px 30px 30px 30px;
    font-family: Verdana;
}
.selected /*actief als de gebruiker een bestand over dropzone sleept*/
{
    background-color: #0084C9;
    font-weight: bold;
    font-family: Verdana;
    color: #8CD600;
}
#output
{
    width: 99.4vw;
    height: 30vh;
    font-family: Verdana;
    overflow: auto; /*Scrollen is door deze optie mogelijk*/
}
table tr td /*Opmaak tabel cel*/
{
    border: 1px solid #0084C9;
}

::-webkit-scrollbar
{
    background: #0084C9; /*Achtergrond scrollbar*/
}

::-webkit-scrollbar-thumb /*Kleur van het deel van de scrollbar wat de gebruiker beweegt*/
{
    background-color: #8CD600;
  
}
::-webkit-scrollbar-corner /*Kleur hoek scrollbar*/
{
   background-color:  #8CD600;
}
::selection /*Aangepaste selectie kleur Webkit*/
{
    background-color: #0084C9;
    color: #8CD600;
}
::-moz-selection /*Firefox aangepaste selectie kleur*/
{
  background: #96BF0D;
  color: #8CD600;
}
.textfield:focus /*Opmaak van actief tekstveld (in output)*/
{
    background-color: #0084C9;
    font-family: Verdana;
    font-size: large;
    color: #8CD600;
    border: none;
}
.textfield /*Opmaak Alle tekstvelden*/
{
    font-family: Verdana;
    border: none;
}