body
{
    background-color: #fff;
    font-family: Verdana;
}
#header
{
    width: 99.4vw;
    height: auto;
    text-align: center;
    font-family: Verdana; 
}
h1, h2, h3, h4, h5
{
    color: #000;
    font-family: Verdana;
}
#dropzone
{
    width: 50vw;
    height: auto;
    border: 2px solid #0084C9;
    text-align: center;
    padding: 30px 30px 30px 30px;
    font-family: Verdana;
}
.selected
{
    background-color: #96BF0D;
    font-weight: bold;
    font-family: Verdana;
    color: #0084C9;
}
#output
{
    width: 99.4vw;
    height: 30vh;
    font-family: Verdana;
    overflow: auto;
}
table tr td
{
    border: 1px solid #0084C9;
}

::-webkit-scrollbar
{
    background: #96BF0D;
}

::-webkit-scrollbar-thumb
{
    background-color: #0084C9;
  
}
::-webkit-scrollbar-corner
{
   background-color:  #0084C9;
}
::selection
{
    background-color: #96BF0D;
    color: #0084C9;
}
/* firefox selectie*/
::-moz-selection
{
  background: #96BF0D;
  color: #0084C9;
}