body
{
    background-color: #fff;
    font-family: Verdana;
    padding: 0px;
    margin: 0px;
}
#header
{
    width: 100vw;
    height: auto;
    text-align: center;
    font-family: Verdana; 
}
h1, h2, h3, h4, h5
{
    color: #0084C9;
    font-family: Verdana;
}
#dropzone /*Stijl voor het gebied waar je het bestand in sleept*/
{
    width: 50vw;
    height: auto;
    border: 2px solid #0084C9;
    text-align: center;
    padding: 30px 30px 30px 30px;
    font-family: Verdana;
    color: #0084C9;
}
.selected /*actief als de gebruiker een bestand over dropzone sleept*/
{
    background-color: #0084C9;
    font-weight: bold;
    font-family: Verdana;
    color: #8CD600;
}
#output
{
    width: 100vw;
    height: 30vh;
    font-family: Verdana;
    overflow: auto; /*Scrollen is door deze optie mogelijk*/
}
table tr td /*Opmaak tabel cel*/
{
    border: 1px solid #0084C9;
}

::-webkit-scrollbar
{
    background: #0084C9; /*Achtergrond scrollbar*/
}

::-webkit-scrollbar-thumb /*Kleur van het deel van de scrollbar wat de gebruiker beweegt*/
{
    background-color: #8CD600;
  
}
::-webkit-scrollbar-corner /*Kleur hoek scrollbar*/
{
   background-color:  #8CD600;
}
::selection /*Aangepaste selectie kleur Webkit*/
{
    background-color: #0084C9;
    color: #8CD600;
}
::-moz-selection /*Firefox aangepaste selectie kleur*/
{
  background: #0084C9;
  color: #8CD600;
}
.textfield:focus /*Opmaak van actief tekstveld (in output)*/
{
    background-color: #0084C9;
    font-family: Verdana;
    font-size: large;
    color: #8CD600;
    border: none;
}
.textfield /*Opmaak Alle tekstvelden*/
{
    font-family: Verdana;
    border: none;
}

#formMedewerkers
{
    margin-top: 3vh;
}
label
{
    color:#0084C9;
    font-family: Verdana;
}
#inputStage
{
    margin-top: 3vh;
}
textarea
{
    font-family: Verdana;
    color: #000;
    border: 1px solid #0084C9;
    overflow: auto;
}
textarea:focus
{
    background-color: #0084C9;
    border-color: #8CD600;
    color: #8CD600;
    font-size: larger;
}
input[type=button]
{
    background-color: #0084C9;
    color: #8CD600;
    box-shadow: 3px 3px 10px #808080;
    width: auto;
    margin: 5px;
}
input[type=submit]
{
    background-color: #0084C9;
    color: #8CD600;
    box-shadow: 3px 3px 10px #808080;
    width: auto;
    margin: 5px;
}
input[type=submit]:hover
{
    background-color: #8CD600;
    color: #0084C9;
}
input[type=submit]:disabled
{
    opacity: 0.5;
}
input[type=button]:hover
{
    background-color: #8CD600;
    color: #0084C9;
}
input[type=file]
{
    background-color: #0084C9;
    color: #8CD600;
    box-shadow: 3px 3px 10px #808080;
    width: auto;
    margin: 5px;
}
input[type=file]:hover
{
    background-color: #8CD600;
    color: #0084C9;
}
.rood
{
    background-color: #f00;
    color: #fff;
}